.homepage {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100svh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
}
